{% extends 'base.html' %}

{% block title %}{{product.title}}{% endblock %}

{% block body_block %}
<div class="hero-unit">
{% if product %}
<div class='col-sm-8'>
	 <h1>{{ product.title }} 
	 <a href='{% url "update_cart" product.slug %}?qty=12' class='pull-right'>Add to Cart</a></h1>
	 	 <form class='form pull-right' method='GET' action='{% url "update_cart" product.slug %}'>
	 	<input name='qty' type='number' value='1'/>
	 	<input name='attr' type='text' placeholder='color' />
	 	<input type='submit' value='Add to cart'/>
	 </form>
	 <hr/>
	 Price: {{ product.price }} <br/>
	 Shipping: Free with $25+ purchase.
	 <hr/>
	{{ product.description|linebreaks }}
</div>
{% endif %}
{% endblock %}



